@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;

}

.card{
  margin: 10px;
  padding: 5px;
  box-shadow: 0 0 5px darkslategray;

}